# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Folders
temp
coverage
test

# Random Stuff
.gitattributes
.npmignore
.travis.yml
.eslintignore
.publishrc
jsconfig.json
